html {
  background: #32403c;
  height: 100%;
}

body {
  max-width: 1980px;
  min-width: 250px;
  margin: auto;

}

header {
  width: 100%;
  height: 17vh;
  border-bottom: 1px solid rgba(81, 62, 17, 0.80);
  background: linear-gradient(180deg, rgba(44, 75, 80, 0.60) 12.5%, rgba(72, 123, 131, 0.30) 58.5%,
      rgba(86, 147, 157, 0.30) 73.5%, rgba(44, 75, 80, 0.60) 100%);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

h1 {
  color: #FFB600;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #880000;
  font-family: Scriptina;
  font-size: 4vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto;


}

@font-face {
  font-family: Scriptina;
  src: url(../fonts/SCRIPTIN.ttf);
  src: url(../fonts/SCRIPTIN.woff) format("woff");
  src: url(../fonts/SCRIPTIN.woff2) format("woff2");

}

@font-face {
  font-family: opensans;
  src: url(../fonts/open-sans.ttf);
}

.heading1 {
  width: 30%;
  float: left;
  margin-left: 5%;
}


.nav {

  width: 60%;
  height: 100%;
  margin: auto;
  float: right;

}

.global-nav {
  width: 100%;
  height: auto;
  clear: both;

}

li {
  display: block;
  float: left;
  width: 15%;
  text-align: center;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: rgba(26, 26, 26, 0.40);
  font-family: "opensans";
  font-size: 1vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 8%;


}

a {
  color: #DBCA98;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #F4EACC;
  font-size: 1.25vw;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}

.main{
  width: 100%;
  height: auto; 
  padding: 5%;
  margin-top: 5%;
  border-radius: 0px 200px 0px 0px;
  border-top: 10px solid rgba(223, 175, 55, 0.5);
  box-sizing: border-box;
  background: #6B9186;

}

.ad {

  width: 100%;
  height: 280px;
  margin: auto;
  margin-top: 5%;
  border: 1px solid #DFAF37;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #32403c;
}

.ad a {
  width: 15%;
  display: inline;
}


a:hover {
  box-shadow: inset 200px 0 0 0 #F4EACC;
  color: black;
  padding: 0.5%;
  transition-duration: 0.2s;
}



footer,
footer span {
  width: 100%;
  height: auto;
  margin: auto;
  color: #F4EACC;
  font-family: "opensans";
  font-size: large;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.media-nav {
  display: none;
}

footer {
  margin-top: 10%;
}

footer span {
  margin-left: 15%;
}

.media-nav {
  display: none;
}

.Carousel {
  display: none;
}

.list-wrapper {
  display: block;
}

#sl {
  width: 10%;
}


/*smaller screen--*/

@media screen and (max-width: 1024px) {
  header {
    height: 12vh;
  }

  a {
    font-size: 1.75vw;
  }

  .nav {
    display: block;
  }

  .heading1 {
    display: block;
  }

  header {
    margin: auto;
  }

  .ad {

    width: 100%;
    height: 250px;
    border: 2px solid #DFAF37;
    margin: auto;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 5%;

  }

  .ad li {
    width: 15%;
    display: block;
    font-size: medium;
     border: 1px solid #DFAF37;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 0.5%;
    padding: 0.5%;
  }

  footer {
    width: 96%;
    height: 6vh;
    margin: auto;
    margin-top: 5%;
  }

  footer span {
    margin-left: 22%;
  }


}

@media screen and (max-width: 640px) {

  .nav {
    display: block;
    width: 100%;
    margin-top: 5%;
  }

  
  header {
    margin: auto;
    height: 12vh;
  }

  a {
    font-size: small;
    width: 50%;
  }
  .heading1{ display: none;}

  h1{font-size: small;;}
  .ad {

    width: 100%;
    height: 300px;
    border: 2px solid #DFAF37;
    padding: 1%;

  }

  .ad li {
    width: 25%;
    display: inline-block;
    border: 1px solid #DFAF37;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 1%;
    padding: 2%;
  }

  .ad a {
    font-size: smaller;
  
  }


  footer {
    visibility: hidden;
    font-size: 0.1vw;
  }

  footer span {
    margin-left: 5%;
    font-size: 5vw;
    visibility: visible;
  }

  #sl {
    display: none;
  }

}
