html {
  background: #32403c;
  height: 100%;
}

body {
  max-width: 1980px;
  min-width: 250px;
  margin: auto;

}

header {
  width: 100%;
  height: 17vh;
  border-bottom: 1px solid rgba(81, 62, 17, 0.80);
  background: linear-gradient(180deg, rgba(44, 75, 80, 0.60) 12.5%, rgba(72, 123, 131, 0.30) 58.5%,
      rgba(86, 147, 157, 0.30) 73.5%, rgba(44, 75, 80, 0.60) 100%);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

h1 {
  color: #FFB600;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #880000;
  font-family: Scriptina;
  font-size: 4vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto;
}

h2 {
  font-family: opensans;
  font-size: large;
  color: white;
}

@font-face {
  font-family: Scriptina;
 
  src: url(fonts/SCRIPTIN.ttf);
  src: url(fonts/SCRIPTIN.woff) format("woff");
  src: url(fonts/SCRIPTIN.woff2) format("woff2");
 

}

@font-face {
  font-family: opensans;
  src: url(fonts/open-sans.ttf);
  src: url(fonts/open-sans.woff) format("woff");
}

.heading1 {
  width: 30%;
  float: left;
  margin-left: 5%;
}


.nav {

  width: 60%;
  height: 100%;
  margin: auto;
  float: right;

}

.global-nav {
  width: 100%;
  height: auto;
  clear: both;

}

li {
  display: block;
  float: left;
  width: 15%;
  text-align: center;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: rgba(26, 26, 26, 0.40);
  font-family: "opensans";
  font-size: 1vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 8%;

}

a {
  color: #DBCA98;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #F4EACC;
  font-size: 1.25vw;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}


a:hover {
  box-shadow: inset 200px 0 0 0 #F4EACC;
  color: black;
  padding: 1%;
  transition-duration: 0.2s;
}

.main {
  border-bottom: 1px solid #880000;
  border-top: 1px solid #880000;

}


#admin {
  width: 2%;
}


.container {
  position: relative;
  text-align: left;
  width: 100%;
  height: auto;
  float: left;

}

/* blurp */

.centered {
  position: absolute;
  top: 32%;
  left: 16%;
  padding: 1%;
  border-radius: 10px;
  border: 1px solid #DFAF37;
  box-sizing: border-box;
  background: rgba(50, 64, 60, 0.5);
  backdrop-filter: blur(2px);
  color: white;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.40);
  -webkit-text-stroke-width: 2;
  -webkit-text-stroke-color: rgba(77, 109, 101, 0.10);
  font-family: opensans;
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;


}

.centered p {
  opacity: 1;
}

span {
  color: #F00;
}

#car1 {
  width: 100%;
  height: auto;
}


/*list wraper*/
.list {
  display: flex;
  gap: 5%;
  padding: 5%;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.item {
  flex-shrink: 0;
  width: 80%;
  height: 90vh;
  background-color: #32403c;
  scroll-snap-align: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  font-family: sans-serif;
  font-size: 2vw;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid #DFAF37;
  box-sizing: border-box;
  padding: 2%;
  background-color: #4D6D65;
}

.list-wrapper {
  position: relative;
}

.button {
  position: absolute;
  top: 75%;
  background-color: white;
  width: 3rem;
  height: 3rem;
  transform: translateY(-50%);
  border: 2px solid #880000;
  box-sizing: border-box;
}

.button--previous {
  left: 1.5rem;
  transform: rotate(180deg);
}

.button--next {
  right: 1.5rem;
}

.list {
  /* ... */

  /* Hide scrollbar in Firefox */
  scrollbar-width: none;

  /* Hide scrollbar in IE and Edge */
  -ms-overflow-style: none;
}

/* Hide scrollbar in webkit */
.list::-webkit-scrollbar {
  display: none;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  width: 60%;
  background-color: #4D6D65;
  padding: 4%;
  border-radius: 10px;
  border: 2px solid #DFAF37;
  box-sizing: border-box;
  clear: both;

}

.mySlides {
  display: none;
  border-radius: 10px;
  border: 2px solid #DFAF37;
  box-sizing: border-box;
  padding: 0.5%;
}

.caption {
  text-align: center;
  color: #F4EACC;
  -webkit-text-stroke-width: 0.5;
  -webkit-text-stroke-color: #000;
  font-family: opensans;
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.arrow-right {
  float: right;
  width: 5%;
  padding: 1%;
}

.arrow-left {
  float: left;
  width: 5%;
  padding: 1%;
}


/* Caption text */
.text {
  text-align: center;
  color: #F4EACC;
  -webkit-text-stroke-width: 0.5;
  -webkit-text-stroke-color: #000;
  font-family: "opensans";
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: grey;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

#gb {
  margin-top: 10%;
  width: 40%;
  height: auto;
}

.book {
  width: 100%;
  margin: auto;
  margin-top: 5%;
  background-color: #384F48;
  border-bottom: 1px solid #880000;
  box-sizing: border-box;
  padding: 2%;
}

aside {
  width: 100%;
  margin: auto;
}

aside a:hover{ 
  box-shadow: none;
  
}

.lib {
  width: 40%;
  height: auto;
  float: left;
  margin-top: 10%;
}

.lib p {

  backdrop-filter: blur(2px);
  color: white;
  text-align: right;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.40);
  -webkit-text-stroke-width: 2;
  -webkit-text-stroke-color: rgba(77, 109, 101, 0.10);
  font-family: opensans;
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;

}

.pur {
  width: 15%;
  height: auto;
  margin: auto;
  margin-top: 5%;
  background-color: #32403c;
}

.pur p {
  font-family: opensans;
  font-weight: 400;
  margin: auto;
  text-align: center;  
  border: 1px solid #DFAF37;
  box-sizing: border-box;
  padding: 5%;
}

footer,
footer span {
  width: 100%;
  height: auto;
  margin: auto;
  color: #F4EACC;
  font-family: opensans;
  font-size: large;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#sl {
  width: 10%;
}

footer span {
  margin-left: 15%;
}

.media-nav {
  display: none;
}

.Carousel {
  display: none;
}

.list-wrapper {
  display: block;
}

@media print {
  BODY {
    display: none;
    visibility: hidden;
  }
}




/*------1024 screen size-------*/

@media screen and (max-width: 1024px) {
  header {
    height: 12vh;
  }

  a {
    font-size: 1.75vw;
  }

  .Carousel {
    display: block;
  }

  .slideshow-container {
    width: 80%;
  }

  .list-wrapper {
    display: none;
  }

  .pur{width: 25%;}

  footer {
    width: 96%;
    height: 6vh;
    margin: auto;
    margin-top: 5%;
  }

  footer span {
    margin-left: 10%;
  }

  @media print {
    BODY {
      display: none;
      visibility: hidden;
    }
  }

}

/*------640 screen size-------*/

@media screen and (max-width: 640px) {

  .nav {
    display: none;
  }

  .heading1 {
    display: none;
  }

  .Carousel {
    display: block;
  }

  .list-wrapper {
    display: none;
  }

  #car1 {
    width: 100%;
    opacity: 0.25;
  }

  header {
    margin: auto;
  }


  /* blurp */

  .centered {
    position: absolute;
    width: 96%;
    top: 30%;
    left: 2%;
    padding: 0.75%;
    border-radius: 10px;
    border: 1px solid #DFAF37;
    box-sizing: border-box;
    background: rgba(50, 64, 60, 0.5);
    backdrop-filter: blur(2px);
    color: white;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.40);
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: rgba(77, 109, 101, 0.10);
    font-family: opensans;
    font-size: 3.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-wrap: wrap;

  }

  .media-nav {
    width: 100%;
    height: auto;
    display: block;
  }


  /* Style the navigation menu */
  .topnav {
    overflow: hidden;
    position: relative;
    height: auto;
    background: transparent;
    z-index: 1;

  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    background: #32403c;
    width: 80%;
    border-radius: 10px;
    border: 2px solid #DFAF37;
    box-sizing: border-box;
    padding: 2%;
    float: right;
    clear: both;


  }

  /* Style navigation menu links */
  .topnav a {
    color: #DBCA98;
    padding: 2%;
    text-decoration: none;
    font-size: x-large;
    font-family: opensans;
    display: block;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    background: #32403c;
    display: block;
    position: absolute;
    right: 5%;
    top: 25%;
    width: auto;


  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    box-shadow: inset 200px 0 0 0 #F4EACC;
    color: black;
    transition-duration: 0.2s;

  }

  /* Style the active link (or home/logo) */
  .active {

    color: #DFAF37;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #880000;
    font-family: Scriptina;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    font-size: 8vw;
    background: linear-gradient(#32403c, #4D6D65);
    padding: 2%;

  }


  /* Slideshow container */

  .slideshow-container {

    width: 90%;
    padding: 2%;


  }

  aside {
    width: 100%;
    margin: auto;
  }

  .lib {
    width: 100%;
    height: auto;
    margin-top: 10%;
  }

  #gb {
    margin-top: 10%;
    width: 70%;
    height: auto;
  }

  .lib p {

    backdrop-filter: blur(2px);
    color: white;
    text-align: center;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.40);
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: rgba(77, 109, 101, 0.10);
    font-family: opensans;
    font-size: 3.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;

  }

  .pur {
    width: 40%;
  }

  .pur a {
    font-size: 4vw;
  }


  footer {
    visibility: hidden;
    font-size: 0.1vw;
  }

  footer span {
    margin-left: 25%;
    font-size: 3vw;
    visibility: visible;
  }

  #sl {
    display: none;
  }

  @media print {
    BODY {
      display: none;
      visibility: hidden;
    }
  }

}
